<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/buwu.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait other" src="/img/buwu.png">
        <div class="weather-text">My first node.js application to provide weather informations according to your
            requests :3</div>
    </div>

    {{>footer}}
</body>


</html>