<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/buwu.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <div class="weather-text">Actually this is help page but there's nothing to help, take care.</div>

    </div>
    {{>footer}}
</body>


</html>