<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/buwu.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <div class="weather-text">Use this site to get your weather!</div>
        <form>
            <br>
            <div class="search-box">
                <input type="text" placeholder="Type your city name or your coordinates w/this syntax => long,lang ">
                <button>Search</button>
            </div>
            <p id="message-1"></p>
            <p id="message-2"></p>
        </form>
    </div>
    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>